body {
	font-family: "Lato", sans-serif;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin-bottom: -20px;
}

.container {
	background-color: #333: 
}

/* ----------------------------------------------------------------------------------------------- */

#menu {
	position: fixed;
	top: 0;
	left: -1200px;
	width: 1200px;
	height: 180vh;
	padding: 50px 30px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
    text-align: center;
    background-color: white
}

#menu .brand {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 300px;
    font-weight: 900;
    line-height: .6;
    color: #ddd;
}

#menu ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
    text-align: left;
}

#menu ul li a {
    display: block;
    font-weight: 900;
    line-height: 50px;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    text-decoration: none;
    text-transform: uppercase;
    color: #232629;
    border-top: 1px solid #eee;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}

#menu ul li a:hover {
    letter-spacing: 1px;
}

#menu .search-container input[type=text] {
  	padding: 10px;
  	margin-top: 100px;
  	margin-left: 150px;
  	font-size: 60px;
  	border-bottom: 5px solid black;
  	border-left: none;
  	border-right: none;
  	border-top: none;
  	margin-bottom: 50px;
  	text-align: center;
}

#menu .search-container button {
	float: right;
	padding-right: 30px;
	margin-top: 100px;
	margin-right: 150px;
	background: transparent;
	font-size: 70px;
	border: none;
	cursor: pointer;
}


/* ----------------------------------------------------------------------------------------------- */

#home-page {
	top: 0;
	left: 0;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.4); 
	margin-left: -8px;
	margin-top: -8px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
}

/* ----------------------------------------------------------------------------------------------- */

#promo-bar {
	background-color: #333;
	color: white;
	text-align: center;
	font-size: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	visibility: hidden;
}

/* ----------------------------------------------------------------------------------------------- */

#content {
	z-index: 1; 
	left: 0;
	top: 75px;
	width: 100%; 
	height: 100%; 
	overflow: auto;
}

/* ----------------------------------------------------------------------------------------------- */

.nav-bar {
	margin-top: 60px;
	text-align: center;
}

.nav-bar #hamburger {
	margin-top: 40px;
  	margin-left: 5%;
  	cursor: pointer;
  	padding: 6.66px;
  	display: inline-block;
  	float: left;
}

.nav-bar #hamburger .hb-divs {
  	width: 60px;
  	height: 6px;
  	background-color: white;
  	margin: 10px 0;
  	display: block;
  	-webkit-transition: all 0.5s ease-in;
       -moz-transition: all 0.5s ease-in;
         -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}

.nav-bar h1 {
	font-size: 50px;
	color: white;
	display: inline-block;
  	float: center;
}

#shop-name, #cart-link, #home-page-content, #hamburger {
	visibility: hidden;
}

.nav-bar a {
	margin-top: 50px;
	margin-right: 5%;
	font-size: 50px;
	color: white;
	display: inline-block;
  	float: right;
}

/* ----------------------------------------------------------------------------------------------- */

.content-center {
	width: 600px;
    height: 200px;
    position: absolute; /*it can be fixed too*/
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.content-center p {
  	color: white;
  	font-size: 40px;
}

.content-center button {
  	background-color: white;
  	border: none;
  	text-decoration: none;
  	padding: 20px;
  	font-size: 40px;
}

/* ----------------------------------------------------------------------------------------------- */

#product-page {
	position: relative;
	height: 100vh;
	width: 100%;
	background: white;
	text-align: center;
	margin-left: -8px;
	width: 100vw;
	margin-bottom: -10px;
}

/* ----------------------------------------------------------------------------------------------- */

#footer {
	position: relative;
	height: 60vh;
	width: 100%;
	background: white;
	text-align: center;
	margin-left: -8px;
	width: 100vw;
}

